:root {
--color-logo:#4d5ae5;
--color-section1:#2e2f42;
--color-footer:#F4F4FD;
--color-paragraph:#434455;
--color-portfolio:#e7e9fc;
--color-menu-p:#404BBF;
--section-fife:#8e8f99;
--color-footer-div:#FFFFFF;
}
body{
  font-family:"Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 428px;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.icon-features{
  display: none;
}
.list-header{
  display: none;
  gap: 40px;
}
.list-one-p{
justify-content: center;
display: flex;
gap: 24px;
margin-bottom: 72px;
}
.list-two-p{
  display: flex;
  flex-wrap:wrap;
  column-gap: 24px;
  row-gap:48px;
}
.logo{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-logo);
margin-right: 76px;
}
.li-portfolio{
  width: calc((100% - 48px)/3);
}
.section-two-list{
  gap: 24px;
  display: grid;
  align-self: stretch;
}
.section-three-list{
  display: flex;
  gap: 24px;
}
.section-two-li{
  width: calc((100% - 72px)/4);
}
.section-threeli{
  width: calc((100% - 48px)/3);
}
.section-three{
  padding-bottom: 120px;
  display: none;
}
.first:hover{
  color:#404bbf;
}
.first:focus{
  color:#404bbf;
}
.first{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}
.first::after{
content: '';
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;
}
.li-one{
  background-color: #FFFFFF;
}
.address{
  font-style: normal;
  margin-top: 24px;
  margin-left: auto;
}
.heading-three{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42;
  margin-bottom: 72px;
}
.span{
  color: #2e2f42;
}
.span-footer{
color:#f4f4fd;
}
.footer-paragraph{
  line-height: 1.5;
  color: var(--color-footer);
  letter-spacing: 0.02em; 
  max-width: 264px;
}
.link{
  text-decoration: none; 
  padding: 24px 0;
}
.link-footer{
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}
.contact{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover{
  color:#404bbf
}
.contact:focus{
  color:#404bbf;
}
.filter-button :hover
.filter-button :focus{
background-color: var(--color-example);
}
.section-first{
  background-color: var(--color-section1);
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
  width: 428px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.section-second{
  padding-top: 96px ;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 96px;
}
.section-four{
  background-color: #F4F4FD;
  padding-top: 120px 0;
}
.section-four-li{
  width: calc((100%-72px)/4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-four-list{
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 264px;
  padding-bottom: 0px;
  padding-left: 82px;
  justify-content: center;
  align-items: center;
}
.section-portfolio{
  padding-top: 96px;
  padding-bottom: 120px;
} 

.heading-one{
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  text-transform: capitalize;
  width: 320px;
  margin: 0 auto;
}
.heading-two{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.heading-four{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42;
  margin-bottom: 72px;
  padding-top: 96px;
}
.heading-fife{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.heading-portfolio{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-section1);
  margin-bottom: 8px;
}
.paragraph-one{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  align-self: stretch;
}
.paragraph-two{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}
.paragraph-portfolio{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-paragraph);
}
.modal-open{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button{
  background-color: var(--color-logo);
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 60px;
}
.button:hover{
  background-color: #404BBF;
}
.button:focus{
  background-color: #404BBF;
}

.filter-button{
font-family: "Roboto",sans-serif;
font-weight: 500;
font-size:16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-logo);
background-color: var(--color-footer);
cursor: pointer;
}
.filter-button:hover{
  color:#FFFFFF;
  background-color: #404BBF;
}
.filter-button:focus{
  color:#FFFFFF;
  background-color: #404BBF;
}
.button-p{
  padding: 12px 24px;
  border: 1px solid var(--color-portfolio);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-menu-p);
  background-color: var(--color-footer);
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-p:hover{
  border: 1px solid transparent;
  background-color: var(--color-menu-p);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);;
}
.button-p:focus{
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);;
}
.footer{
  background-color: #2e2f42; 
  padding: 120px 0;
}
img{
  display: block;
}
.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-div{
width: 428px;
height: 70px;
flex-shrink: 0;
}
.nav{
  display: flex;
  align-items: center;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.div-four{
padding: 32px 0px;
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
gap: 32px;
}
.portfolio-div{
  padding: 32px 16px;
  border: 1px solid var(--color-portfolio);
  border-top: none;
}
.div-section-two{
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.section-four-svg{
display: flex;
justify-content: center;
gap: 24px;
}
.section-four-svg-li{
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.link-svg{
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-svg:hover{
  background-color: #404bbf;
}
.link-svg:focus{
background-color: #404bbf;
}
.svg-li{
  fill: var(--color-footer);
}
.section-five{
  padding-top: 120px;
  padding-bottom: 120px;
}
.heading-fife-s{
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-section1);
  margin-bottom: 72px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
.ul-section-fife{
  display: flex;
  gap: 24px;
}
.li-fife-section{
  width: calc((100% - 120px) /6 );
  height: 88px;
}
.link-section-fife{
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--section-fife);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-section-fife:hover{
  border-color: #404bbf;
  color: #404bbf;
}
.link-section-fife:focus{
  border-color: #404bbf;
  color: #404bbf;
}
.svg-section-fife{
  fill: currentColor;
}
.div-footer-main{
  display: flex;
  align-items: baseline;
}
.link-p{
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-p:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.link-p:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.div-footer-one{
  margin-right: 120px;
}
.paragraph-footer-one{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer-div);
  margin-bottom: 16px;
}
.ul-footer{
  display: flex;
  gap: 16px;
}
.li-footer{
  height: 40px;
  width: 40px;
}
.link-footer-ul{
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer-ul:hover{
  background-color: #31d0aa;
}
.link-footer-ul:focus{
  background-color: #31d0aa;
}
.svg-footer{
  fill: var(--color-footer);
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-two{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.button-modal{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover{
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.button-modal:focus{
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-ul-nine{
  position: relative;
  overflow: hidden;
}
.paragraph-ul-nine{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-p:hover .paragraph-ul-nine{
  transform: translateY(0%);
}
.link-p:focus .paragraph-ul-nine{
  transform: translateY(0%);
}
.link-active{
  color: var(--color-menu-p);
}
.link-active::after{
  width: 100%;
}
.paragraph-footer-three{
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form{
  display: flex;
  gap: 24px;
}
.input-footer{
  width: 264px;
  height: 40px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  display: flex;
}
.input-footer ::placeholder{
  color: #FFFFFF;
}
.button-footer{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}
.svg-footer-div{
  margin-left: 16px;
}
.div-footer-three{
  margin-left: 80px;
}
.paragraph-modal{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-section1);
  margin-bottom: 16px;
}
.div-modal-form{
  margin-bottom: 8px;
}
.label-modal{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--section-fife);
  display: block;
  margin-bottom: 4px;
}
.div-label-modal{
  position: relative;
}
.input-modal{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
}
.input-modal:focus{
  border-color: #4D5AE5;
}
.input-modal:focus + svg{
  fill: #4D5AE5;
}
.svg-modal{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-div-four{
  margin-bottom: 16px;
}
.textarea-modal{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal:focus{
  border-color: #4D5AE5;
}
.div-modal-fife{
  margin-bottom: 24px;
}
.label-modal-two{
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--section-fife);
}
.span-label{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.link-modal{
  color: var(--color-logo);
}
.button-modal-six{
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .label-modal-two span {
  background-color: var(--color-menu-p);
  fill: #f4f4fd;
  border: none;
}

